*{
    font-family: 'Poppins', sans-serif;

    margin: 0px;

    padding: 0px;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Poppins:wght@100;200;400;700 & display=swap');

.imglogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    margin-top: 5%;
}
h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}


.fotos > div{
    margin:0px;
    display: flex;
    justify-content: center;
    ;
   
}


section{
    display: flex;
    justify-content: center;
}
section > a {
    text-decoration: none
}

section > a > div{
    margin-top: 25px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 10px;
}
section > a > div > p{
    color: rgb(207, 207, 207);
    font-size: 10px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.imgbictsessao{
    width:100px;
    margin-top: 0px;
}
.imgengenharias{
    width: 101.15px;
    margin-top: 0px;
}
.imginfra{
    width:100px;
    margin-top: 0px;


}