*{
    margin: 0px;
    padding: 0px;

}

.galery{
    display: flex;
    width: 360px ;
    height: 236px ;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    
}
.fotos{
    width: 300%;
    height: 100%;

}
 